---
layout: default
---

<header class="header">
  <h1 class="title"><strong class="fourteen">14</strong> 分で JavaScript 入門</h1>
  <p class="subtitle">by <a href="https://jgthms.com" target="_blank">Jeremy Thomas</a> <small>(邦訳：<a href="https://twitter.com/otchy" target="_blank">Otchy</a>)</small></p>

  <div class="block">
    <a href="https://bulma.io" target="_blank">
      <img src="/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
    </a>
  </div>

  <div class="content translator-notes">
    訳注：この素晴らしいコンテンツは、<a href="https://jgthms.com" target="_blank">Jeremy Thomas</a> さんの <a href="https://jgthms.com/javascript-in-14-minutes/" target="_blank">JavaScript in 14 minutes</a> を、本人の許可を得て <a href="https://twitter.com/otchy" target="_blank">Otchy</a> が日本語に翻訳し、公開したものです。日本語に関する質問やお問い合わせは翻訳者までお願いします。<br>
    翻訳にあたってはなるべく自然な日本語になるように配慮しましたが、私はプロの翻訳家ではないのでどうしても「英語臭さ」が残っている部分があります。その点に関してはご容赦下さい。<br>
    また、原本で使用されている JavaScript のコードはその書かれた時期が影響して必ずしも最新のバージョンの情報を反映していませんでした。しかしながら、JavaScript に入門するにあたっては大きな問題とはならない事、原本の記述を尊重したかった事から、現状ではそのままとしています。将来的にはバージョンアップするかも知れません。
  </div>

  <div class="content">
    <p>
      <a href="https://jgthms.com/web-design-in-4-minutes/" target="_blank">Web design in 4 minutes</a> <small>(訳注：Web デザインの基本を紹介している同作者のサイト)</small> を学んだ後は、Web のメイン言語 <strong>JavaScript</strong> の世界にに飛び込む番です。
    </p>
  </div>

  <!-- Case: noscript -->
  <noscript>
    <div class="message is-warning">
      <div class="message-body">
        JavaScript を学ぶためにはまずそれを有効にして下さい！
        <br>
        <a href="https://www.enable-javascript.com/ja/" target="_blank" rel="nofollow">あなたのブラウザでJavaScriptを有効にする方法</a>
      </div>
    </div>
    <style type="text/css">#introduction{ display: none; }</style>
  </noscript>

  <!-- Case: mobile or tablet -->
  <div class="case is-mobile is-tablet">
    <div class="message is-warning">
      <div class="message-body">
        <p>
          どうやらあなたは<strong><span class="case is-mobile">モバイルデバイス</span><span class="case is-tablet">タブレット</span></strong>を使っているようです！😱
        </p>
        <p>
          でも怖がらないで！😊
        </p>
        <p>
          このチュートリアルはその環境向けに最適化はされていませんが、少なくともあなたが楽しく読めるようにはしておきました。
        </p>
        <p>
          だけど全部の機能を体験するために、出来れば後でデスクトップブラウザで開いて下さい。
        </p>
        <p>
          それはさておき、<a onclick="showStep(1);">始めましょう</a>！
        </p>
      </div>
    </div>
  </div>

  <!-- Case: desktop -->
  <div id="introduction" class="case is-desktop">
    <div class="content">
      <p>
        あなたの使ってる環境は下記ですよね？
      </p>

      <div id="platform" class="detect">
        <div class="field">
          <div class="label"><strong>OS</strong></div>
          <div class="select">
            <select id="os">
              <option value="">---</option>
              <option value="windows">Windows</option>
              <option value="mac">Mac OS</option>
              <option value="linux">Linux</option>
            </select>
          </div>
        </div>
        <div class="field">
          <div class="label"><strong>Web ブラウザ</strong></div>
          <div class="select">
            <select id="browser">
              <option value="">---</option>
              <option value="chrome">Google Chrome</option>
              <option value="firefox">Mozilla Firefox</option>
              <option value="safari">Apple Safari</option>
              <option value="edge">Microsoft Edge</option>
              <option value="opera">Opera</option>
            </select>
          </div>
        </div>
      </div>

      <p>
        この情報があっていれば、さあ<a onclick="showStep(1);">始めましょう</a>。
      </p>
    </div>
  </div>

  <!-- Case: return -->
  <div id="return" class="message is-success">
    <div class="message-body">
      <p>
        どうやら以前ここに来たことがありますね！😃
        <br>
        <a id="resume">以前の続きから再開</a>しますか？それとも<a id="reset">始めからやり直し</a>ますか？
      </p>
    </div>
  </div>
</header>

<!-- 01 -->
<div id="step1" class="step">
  <div class="content">
    <h2>コンソール<span class="stamp is-tool">ツール</span></h2>

    <p>
      このブラウザには<strong>デベロッパーコンソール</strong>という、ウェブページで直接 JavaScript を実行できるツールがついています。
    </p>

    <div class="case is-chrome not-mobile not-tablet">
      あなたは <strong>Google Chrome</strong> を使っているので、<span class="case is-windows is-linux"><kbd class="key">Ctrl</kbd><kbd class="plus">+</kbd><kbd class="key">Shift</kbd><kbd class="plus">+</kbd><kbd class="key">J</kbd> か <kbd class="key">F12</kbd></span><span class="case is-mac"><kbd class="key">⌥</kbd><kbd class="plus">＋</kbd><kbd class="key">⌘</kbd><kbd class="plus">＋</kbd><kbd class="key">J</kbd></span>で、JavaScript コンソールを開いて下さい。
    </div>

    <div class="case is-firefox not-mobile not-tablet">
      あなたは <strong>Mozilla Firefox</strong> を使っているので、<span class="case is-windows is-linux"><kbd class="key">Ctrl</kbd><kbd class="plus">+</kbd><kbd class="key">Shift</kbd><kbd class="plus">+</kbd><kbd class="key">K</kbd> か <kbd class="key">F12</kbd></span><span class="case is-mac"><kbd class="key">⌥</kbd><kbd class="plus">＋</kbd><kbd class="key">⌘</kbd><kbd class="plus">＋</kbd><kbd class="key">K</kbd></span >で、Web コンソールを開いて下さい。
    </div>

    <div class="case is-edge not-mobile not-tablet">
      あなたは <strong>Microsoft Edge</strong> を使っているので、<span class="case is-windows"><kbd class="key">F12</kbd></span>で、JavaScript コンソールを開いて下さい。
    </div>

    <div class="case is-opera not-mobile not-tablet">
      あなたは <strong>Opera</strong> を使っているので、<span class="case is-windows is-linux"><kbd class="key">Ctrl</kbd><kbd class="plus">＋</kbd><kbd class="key">Shift</kbd><kbd class="plus">＋</kbd><kbd class="key">I</kbd></span><span class="case is-mac"><kbd class="key">⌥</kbd><kbd class="plus">＋</kbd><kbd class="key">⌘</kbd><kbd class="plus">＋</kbd><kbd class="key">I</kbd></span>で、JavaScript コンソールを開いて下さい。
    </div>

    <div class="case is-safari not-mobile not-tablet">
      <p>
        あなたは <strong>Apple Safari</strong> を使っているので、
      </p>
      <ol>
        <li><kbd class="key">⌘</kbd><kbd class="plus">＋</kbd><kbd class="key">,</kbd>で <strong>環境設定</strong> を開いて、</li>
        <li><strong>詳細</strong> タブを選択し、</li>
        <li><strong>メニューバーに "開発" メニューを表示</strong>を有効にして下さい。</li>
        <li>そして、<kbd class="key">⌥</kbd><kbd class="plus">＋</kbd><kbd class="key">⌘</kbd><kbd class="plus">＋</kbd><kbd class="key">C</kbd> で、JavaScript コンソールを開いて下さい。</li>
      </ol>
    </div>

    <p>
      ちゃんと動作するか確かめてみましょう！
    </p>
    <p>
      コンソール上に、次の内容をタイプ (するかペースト) して、<kbd class="key">Enter</kbd> を押して下さい。
    </p>
  </div>

  {% capture snippet %}{% include snippets/snippet_hello_world.md %}{% endcapture %}
  {% include partials/snippet.html contents=snippet %}
</div>

<!-- 02 -->
<div id="step2" class="step">
  <div class="content">
    {% include partials/gj.html %}
    <p>
      いま <code>alert()</code> という、全てのブラウザに実装されている JavaScript の<strong>関数</strong>を実行しました。
    </p>
    <p>
      でも<a onclick="showStep(3);">具体的には何をした</a>のでしょうか？
    </p>
  </div>
</div>

<!-- 03 -->
<div id="step3" class="step">
  <div class="content">
    <h2>関数<span class="stamp is-concept">基本概念</span></h2>
    <p>
      先ほど <code>alert()</code> という<em>関数</em>を、<code>'Hello&nbsp;World!'</code>という<em>引数</em>で<strong>呼び出し</strong>ました。
    </p>
    <p>
      基本的には 4 つのことをした事になります。
    </p>

    <div class="stabs">
      <div class="stab">
        <div class="stab-label">関数の<strong>名前</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-blue">alert</span>('Hello World!')</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>丸括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo">alert<span class="is-black">(</span>'Hello World!')</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>引数</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">alert(<span class="is-green">'Hello World!'</span>)</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">丸括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo">alert('Hello World!'<span class="is-black">)</span></code></div>
      </div>
    </div>

    <p>
      関数には引数がない時もありますし、複数の引数がある時もあります。ほとんどの引数は必須ですが、必須ではない事もあります。
    </p>
    <p>
      このケースでは、<code>alert()</code> は一つだけ引数を必要とします。
    </p>
    <p>
      ではこれは、どんな<a onclick="showStep(4);">型の引数</a>なのでしょう？
    </p>
  </div>
</div>

<!-- 04 -->
<div id="step4" class="step">
  <div class="content">
    <h2>文字列 (String) <span class="stamp is-type">型</span></h2>

    <p><strong>文字列</strong>とは連続した文字の集まりで、テキストを扱いたい時に使います。今回の場合、連続した <strong>12 個の文字</strong>、<code>Hello World!</code> です。これは、小文字、大文字、スペース、エクスクラメーションマークを含んでいます。</p>

    <p>どこから文字列が<em>始まって</em>、そして<em>終わる</em>のかを定義するためには、<strong>クォート</strong>でそれを囲む必要があります (シングルクォート <code>'</code> もしくはダブルクォート <code>"</code> のどちらでも構いません)。</p>

    <p><code>'Hello World!'</code> という文字列を定義するために：</p>

    <ol>
      <li>シングル<strong>クォート</strong>をタイプしました。</li>
      <li><strong>12 個の文字</strong>をタイプしました。</li>
      <li>そしたもう一つのシングル<strong>クォート</strong>をタイプしました。</li>
    </ol>

    <p>文字列の<a onclick="showStep(5);">代わりに数字</a>を扱いたい時はどうしたら良いでしょう？</p>
  </div>
</div>

<!-- 05 -->
<div id="step5" class="step">
  <div class="content">
    <h2>数値 (Number) <span class="stamp is-type">型</span></h2>

    <p>
      他のプログラミング言語と同様に、JavaScript は<strong>数値</strong>を扱う事ことが出来ます。
    </p>
    <p>
      これらの数値は、大きくも小さくもなりますし、少数点があってもなくても良いです。また数値計算<strong>演算子</strong>によって計算する事が出来ます。
    </p>
    <p>
      コンソール上に、次の内容をタイプ (するかペースト) して下さい。
    </p>
  </div>

  {% capture snippet %}{% include snippets/snippet_numbers.md %}{% endcapture %}
  {% include partials/snippet.html contents=snippet %}
</div>

<!-- 06 -->
<div id="step6" class="step">
  <div class="content">
    {% include partials/gj.html title="完璧！" %}

    <p>
      いくつかの事に気づいたでしょうか？
    </p>

    <ul>
      <li><code>+</code> と <code>*</code> という<strong>演算子</strong>を使っています。<small>(訳注：<code>*</code> は掛け算を意味します。)</small></li>
      <li><strong>数学的な計算順序</strong>は尊重されます。先に <code>5 * 3</code> (乗算) が計算されてから、<code>9 + 15</code> (加算) が計算されます。</li>
      <li><code>*</code> の周りのスペースは出力に影響しません。それらは私たち人間がコードを<em>読みやすく</em>するためだけにあります。</li>
    </ul>

    <p>
      数値は<a onclick="showStep(7);">様々な場所</a>にあります。
    </p>
  </div>
</div>

<!-- 07 -->
<div id="step7" class="step">
  <div class="content">
    <h2>ブラウザの大きさ<span class="stamp is-info">情報</span></h2>

    <p>
      特にブラウザ内では、数値は至る所にあります！
    </p>
    <p>
      例えば、今のブラウザのウィンドウは JavaScript で取得出来る特定の<strong>幅</strong>を持っています。
    </p>
    <p>
      次の内容をタイプして下さい。
    </p>

    {% capture snippet %}{% include snippets/snippet_innerwidth.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 08 -->
<div id="step8" class="step">
  <div class="content">
    {% include partials/gj.html title="ワンダフル！" %}

    <p>
      これは、あなたのブラウザウウィンドウの幅が <strong id="browserWidth">1680</strong> ピクセルという事です。
    </p>
    <p>
      想像通り、<code>window.innerHeight</code> も存在します。<small>(訳注：width で幅が取得出来るなら、height で高さが取得出来るのは道理ですね。)</small> また、現在のスクロール位置を取得する <code>window.scrollY</code> も存在します。
    </p>
    <p>
      ただ、<code>window</code> とは<a onclick="showStep(9);">正確には</a>何なのでしょうか？
    </p>
  </div>
</div>

<!-- 09 -->
<div id="step9" class="step">
  <div class="content">
    <h2>オブジェクト (Object)<span class="stamp is-type">型</span></h2>

    <p>
      <code>window</code> は JavaScript の<strong>オブジェクト</strong>です。
    </p>
    <p>
      <code>innerWidth</code> は、<code>window</code> オブジェクトの<strong>プロパティ</strong>です。<br>
      この <code>window</code> オブジェクトの<em>中に</em>存在する <code>innerWidth</code> というプロパティにアクセスするために、ドット <code>.</code> を使いました。
    </p>
    <p>
      JavaScript オブジェクトは基本的な<strong>型</strong>で、他のものを含んでいます。
    </p>
    <p>
      例えば、<code>window</code>は以下のようなものを含んでいます。
    </p>

    <ul>
      <li><code>window.origin</code>は文字列です。</li>
      <li><code>window.scrollY</code>は数値です。</li>
      <li><code>window.location</code>は別のオブジェクトです。</li>
    </ul>

    <p>
      <code>window</code> がオブジェクトで、それが他のオブジェクト <code>location</code> を含んでいるという事は、JavaScript オブジェクトは<a onclick="showStep(10);">ちょっと面白い事</a>が出来るという事です。<small>(訳注：原文が英文法に強く依存するためかなりの意訳)</small>
    </p>
  </div>
</div>

<!-- 10 -->
<div id="step10" class="step">
  <div class="content">
    <h2>入れ子<span class="stamp is-info">情報</span></h2>

    <p>
      あるオブジェクトのプロパティに、他のオブジェクトを持ったり、時にはそのオブジェクト自身をプロパティにする事も出来ます (インセプション！)。<small>(訳注：ここではレオナルド・ディカプリオ主演の映画<a href="https://ja.wikipedia.org/wiki/%E3%82%A4%E3%83%B3%E3%82%BB%E3%83%97%E3%82%B7%E3%83%A7%E3%83%B3" target="_blank">インセプション</a>を指していると思われます。夢の階層が入れ子になった SF 映画で訳者も大好きです。)</small>
    </p>
    <p>
      <code>window.location</code> はオブジェクトなので、それ自身もまたプロパティを持っています。それらのプロパティにアクセスするには、単にまた別のドット <code>.</code> を加え、そこにプロパティ名を続けます。
    </p>
    <p>
      例えば、<code>href</code> というプロパティがあります。
    </p>

    {% capture snippet %}{% include snippets/snippet_href.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 11 -->
<div id="step11" class="step">
  <div class="content">
    {% include partials/gj.html title="すごい！" %}

    <p>
      このウェブページの <strong>URL 全体</strong>が表示されました。これはつまり…
    </p>

    <ul>
      <li><code>window</code> がオブジェクトで、</li>
      <li><code>location</code> がオブジェクトで、</li>
      <li><code>href</code> が文字列だからです。</li>
    </ul>

    <p>
      どのくらい深くオブジェクトが入れ子に出来るかには制限はありません。また一つのオブジェクトが持つ事が出来るプロパティの数にも制限はありません。
    </p>
    <p>
      これまで見てきたように、オブジェクトのプロパティはあらゆる型を持つ事が出来ます。文字列、数値、オブジェクト、あるいは関数にもなりえます。関数のケースは特別に<a onclick="showStep(12);">こう呼ばれ</a>ます。
    </p>
  </div>
</div>

<!-- 12 -->
<div id="step12" class="step">
  <div class="content">
    <h2>メソッド<span class="stamp is-info">情報</span></h2>

    <p>
      あるオブジェクトの<strong>プロパティ</strong>が<strong>関数</strong>のとき、これを<strong>メソッド</strong>と呼びます。
    </p>
    <p>
      実際、始めに使った <code>alert()</code> という関数は、<code>window</code> オブジェクトのメソッドなのです！
    </p>

    {% capture snippet %}{% include snippets/snippet_omg.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 13 -->
<div id="step13" class="step">
  <div class="content">
    {% include partials/gj.html title="マジだよ！" %}

    <p>
      <code>window</code> はブラウザ上におけるトップレベルオブジェクトなので、その全てのプロパティとメソッドには直接アクセスする事が出来ます。
    </p>
    <p>
      それが、<code>location.href</code> とタイプする事が <code>window.location.href</code> とタイプする事と同じ意味になる理由です。<code>alert()</code> が <code>window.alert()</code> と同等の意味なるのも、そう、同じ理由です。
    </p>
    <p>
      オブジェクトは一つの名前の元に複数のプロパティをまとめたり、また、データの<strong>階層</strong>を表現するのに便利です。これは、太い枝から徐々に細い枝に枝分かれしていく木のようなデータの構造です。
    </p>
    <p>
      では単に、<a onclick="showStep(14);">何かのリスト</a>が欲しいだけの時はどうでしょう？
    </p>
  </div>
</div>

<!-- 14 -->
<div id="step14" class="step">
  <div class="content">
    <h2>配列 (Array)<span class="stamp is-type">型</span></h2>

    <p>
      JavaScript の<strong>配列</strong>は型の一種で、複数の値を含む事が出来て、あたかも順序を持ったリストのように振る舞います。
    </p>
    <p>
      <code>alert()</code> 関数に、<strong>3 つの文字列</strong>からなる配列を渡してみましょう。
    </p>
    {% capture snippet %}{% include snippets/snippet_what_is_up.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 15 -->
<div id="step15" class="step">
  <div class="content">
    {% include partials/gj.html title="もちろん！" %}

    <p>
      <code>alert</code> 関数を呼び出す文法 <code>alert(parameter)</code> は、すでに知っていますね？
    </p>
    <p>
      この例では、パラメータは以下のように定義された 3 つの要素を持つ配列です。
    </p>

    <div class="stabs">
      <div class="stab">
        <div class="stab-label"><strong>角括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-black">[</span>'やあ', '元気', 'かい？']</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">配列の<strong>最初の要素</strong>の文字列をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">[<span class="is-green">'やあ'</span>, '元気', 'かい？']</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">要素を区切るために、<strong>コンマ</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">['やあ'<span class="is-black">,</span> '元気', 'かい？']</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>あと 2 つの要素</strong>をリストに追加しました。</div>
        <div class="stab-code"><code class="stabilo">['やあ', <span class="is-green">'元気'</span><span class="is-black">, </span><span class="is-green">'かい？'</span>]</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">角括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo">['やあ', '元気', 'かい？'<span class="is-black">]</span></code></div>
      </div>
    </div>

    <p>
      配列はどんな種類の<strong>型</strong>でも要素に持つ事が出来ます。文字列、数値、オブジェクト、他の配列、さらに<em>もっと</em>…
    </p>
    <p>
      このスニペット<small>(訳注：少量のコードの断片の事をプログラミングの文脈ではよくこう呼びます。この先でも出てくる言葉です。)</small>を試してみましょう。
    </p>

    {% capture snippet %}{% include snippets/snippet_list.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 16 -->
<div id="step16" class="step">
  <div class="content">
    {% include partials/gj.html title="正解！" %}

    <p>
      一つ目の要素 <code>2 + 5</code> は数値で、二つ目の要素 <code>'サムライ'</code> は文字列です。
    </p>
    <p>
      <strong>三つ目のパラメータ</strong>はどうでしょう？ これはクォート囲まれていないので文字列ではありません、また数値でもありません。
    </p>
    <p>
      では<a onclick="showStep(17);">何なのでしょう</a>？
    </p>
  </div>
</div>

<!-- 17 -->
<div id="step17" class="step">
  <div class="content">
    <h2>真偽値 (Boolean)<span class="stamp is-type">型</span></h2>

    <p>
      文字列と数字は<em>無限の種類の</em>値を取る事が出来ますが、<strong>真偽値</strong>は <code>true</code> か <code>false</code>のいずれかにしかなりません。
    </p>
    <p>
      <code>alert()</code> と 3 要素の配列が<em>一行</em>に収まってしまっているので、コードが読みにくくなっています。
    </p>
    <p>
      では、配列を<a onclick="showStep(18);">それだけの行</a>に移動して、2 つに分けてみたらどうでしょう？
    </p>
  </div>
</div>

<!-- 18 -->
<div id="step18" class="step">
  <div class="content">
    <h2>変数<span class="stamp is-concept">基本概念</span></h2>

    <p>
      この配列は一つの<strong>変数</strong>に移動することが出来ます。
    </p>
    <p>
      変数はある<strong>値</strong>を保持することが出来る<strong>入れ物</strong>です。変数は<strong>名前</strong>を持ち<strong>値</strong>を持ちます。名前があるのでそれを特定し再利用する事ができ、値があるのでそれを後で更新する事が出来ます。
    </p>

    {% capture snippet %}{% include snippets/snippet_array.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet skipRun=true %}

    <ul>
      <li>
        <code>my_things</code> は配列の<strong>名前</strong>です。
      </li>
      <li>
        <code>[2 + 5, 'サムライ', true]</code> は配列の<strong>値</strong>です。
      </li>
    </ul>

    <p>
      分解するとこんな感じです。
    </p>

    <div class="stabs is-vertical">
      <div class="stab">
        <div class="stab-label"><strong>予約語</strong>の <code>var</code> をタイプしました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-purple">var</span> my_things = [2 + 5, 'サムライ', true];</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">変数の<strong>名前</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">var <span class="is-blue">my_things</span> = [2 + 5, 'サムライ', true];</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>代入演算子</strong>の <code>=</code> をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">var my_things <span class="is-purple">=</span> [2 + 5, 'サムライ', true];</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>配列</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">var my_things = <span class="is-black">[</span><span class="is-red">2</span><span class="is-purple"> + </span><span class="is-red">5</span><span class="is-black">, </span><span class="is-green">'サムライ'</span><span class="is-black">, </span><span class="is-purple">true</span><span class="is-black">]</span>;</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">文の最後に<strong>セミコロン</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">var my_things = [2 + 5, 'サムライ', true]<span class="is-black">;</span></code></div>
      </div>
    </div>

    <p>
      これは、<code>my_things</code> と <code>[2 + 5, 'サムライ', true]</code> が等価な事を表します。
    </p>
    <p>
      さあ、<code>alert</code> 関数を復活させる時です。
    </p>
    <p>
      いまここには<em>二つの文</em>があるので、どこで一つ目の文が終わって二つ目の文が始まるのかを示すために、それらを<strong>セミコロン</strong> <code>;</code> で分割する必要があります。
    </p>

    {% capture snippet %}{% include snippets/snippet_array_alert.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 19 -->
<div id="step19" class="step">
  <div class="content">
    {% include partials/gj.html title="素晴らしい！" %}

    <p>
      配列を変数に格納する事によって、コードをより<strong>読みやすく</strong>する事が出来ました。
    </p>
    <p>
      この変数は複数の要素を持ったリストを表していますが、リストの中の<strong>一つだけ</strong>の値を扱いたい事もあるでしょう。
    </p>
    <p>
      配列の中の<em>特定の要素</em>にアクセスするためには、まずその配列の中の<strong>インデックス</strong> (あるいは位置) を知らなければなりません。そして、そのインデックスを<strong>角括弧</strong>で囲う必要があります。
    </p>
    <p>
      どの要素が表示されるか予想出来ますか？
    </p>

    {% capture snippet %}{% include snippets/snippet_array_index.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 20 -->
<div id="step20" class="step">
  <div class="content">
    {% include partials/gj.html title="当たってました？" %}

    <p>
      <strong>二番目の要素</strong>が表示されましたね！プログラミングでは、インデックスは <code>0</code> から始まるのです。
    </p>

    <div class="stabs is-vertical">
      <div class="stab">
        <div class="stab-label">配列の<strong>名前</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-blue">my_things</span>[1]</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>角括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo">my_things<span class="is-black">[</span>1]</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">アクセスしたい要素の<strong>インデックス</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">my_things[<span class="is-red">1</span>]</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">角括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo">my_things[1<span class="is-black">]</span></code></div>
      </div>
    </div>

    <p>
      配列も実は<strong>オブジェクト</strong>です！という事はつまり、配列もまた<strong>プロパティ</strong>と<strong>メソッド</strong>を持つという事です。<small>(訳注：原文は 「variables (＝変数) もオブジェクト」と書かれていますが、配列の誤記で間違いないと思うので訂正しています。)</small>
    </p>

    <p>
      例えは、<code>my_things</code> は <code>length</code> というプロパティを持っています。<small>(訳注：length は長さという意味です。)</small>
    </p>

    {% capture snippet %}{% include snippets/snippet_array_length.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 21 -->
<div id="step21" class="step">
  <div class="content">
    {% include partials/gj.html title="その通り！" %}

    <p>
      この配列は <strong>3</strong> つの要素を持っています。もし <code>my_things</code> に要素を追加したり削除したりしたら、この <code>length</code> の値は適切に変化します。
    </p>

    <p>
      変数に名前があって読みやすい事やプロパティが持てる事は便利ですが、変数の最も重要なポイントはそれが<strong>編集可能</strong>な事です。変数の値は後から変更する事が出来ます！
    </p>

    {% capture snippet %}{% include snippets/snippet_array_edit.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 22 -->
<div id="step22" class="step">
  <div class="content">
    {% include partials/gj.html title="やった！" %}

    <p>
      二つのアラートボックスが表示されましたが、違う値でしたね！なぜなら最初の呼び出しと二回目の呼び出しの間に、<code>my_things</code> が<strong>更新</strong>されたからです。4 つめの要素、文字列の <code>'LOVE'</code> が追加されました。
    </p>

    <p>
      二回目に <code>my_things</code> に値を割り当てた時に、キーワード <code>var</code> を<strong>使わなかった</strong>事に留意して下さい。これは、2 行前に定義した変数 <code>my_things</code> を編集していたからです。
    </p>

    <p>
      <strong>キーワード <code>var</code> は新しい変数を<em>作っている時</em>に使います。</strong><em>編集している時</em>ではありません。
    </p>

    <p>
      配列もオブジェクトの一種なので<strong>メソッド</strong>を持っているという話を覚えていますか？配列を編集するまた別の方法は、<code>push()</code> メソッドを使う事です。
    </p>

    {% capture snippet %}{% include snippets/snippet_array_push.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 23 -->
<div id="step23" class="step">
  <div class="content">
    {% include partials/gj.html title="ファンタスティック！" %}

    <p>
      配列 <code>my_things</code> は <strong>4</strong> 要素になりました。
    </p>

    <p>
      <code>push()</code> メソッドが配列を編集する一方、他のものはシンプルに値を<strong>返します</strong>。
    </p>

    {% capture snippet %}{% include snippets/snippet_array_includes.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 24 -->
<div id="step24" class="step">
  <div class="content">
    {% include partials/gj.html title="ここにニンジャはいません！" %}

    <p>
      <code>includes()</code> メソッドは、文字列 <code>'ニンジャ'</code> が配列内に存在するかを確かめていました。そこに存在していなかったのでこのメソッドは、<strong>真偽値</strong>の <code>false</code> を返したのです。
    </p>

    <p>
      実際のところ、真偽値を扱う時、キーワードの <code>true</code> や <code>false</code> をタイプする事はあまりありません。たいていの場合真偽値は、<code>includes()</code> のような関数の呼び出しや<strong>比較</strong>の結果として現れます。
    </p>

    <p>
      これは「<em>〜より大きい</em>」という比較です。
    </p>

    {% capture snippet %}{% include snippets/snippet_innerwidth_boolean.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 25 -->
<div id="step25" class="step">
  <div class="content">
    {% include partials/gj.html title="また素晴らしい！" %}

    <p>
      これはブラウザウィンドウが <strong>400 ピクセル</strong>より<strong id="wider">広い</strong><strong id="narrower" style="display: none;">広くない</strong>という事です。
    </p>

    <div class="stabs">
      <div class="stab">
        <div class="stab-label">比較するための<strong>数値</strong>である<strong>最初の要素</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-blue">window<span class="is-black">.</span>innerWidth</span> > 400</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">"より大きい" という<strong>演算子</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">window.innerWidth <span class="is-purple">></span> 400</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">同じく<strong>数値</strong>である<strong>二つ目の要素</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">window.innerWidth > <span class="is-red">400</span></code></div>
      </div>
    </div>

    <p>
      以前の <code>+</code> や <code>*</code> と同じように、<code>&gt;</code> は JavaScript の<strong>演算子</strong>です。
    </p>

    <p>
      "<em>より大きい</em>" 演算子 <code>&gt;</code> で比較をすると、<strong>真偽値</strong>の値が結果として得られます。
    </p>

    <p>
      <strong>比較</strong>の結果は<strong>2 種類</strong> (<code>true</code> か <code>false</code>) に限られるので、これはコードで何か<a onclick="showStep(26);">判断をしなければならない</a>時に便利です。
    </p>
  </div>
</div>

<!-- 26 -->
<div id="step26" class="step">
  <div class="content">
    <h2>条件文 <span class="stamp is-concept">基本概念</span></h2>

    <p>
      条件文はプログラミングにおける最も重要な概念の一つです。これにより<em>特定の条件に合致</em>した時だけ処理を実行する事が出来ます。条件文は例えば次のようなものに基づきます。
    </p>

    <ul>
      <li>
        ユーザからの入力 (入力されたパスワードは正しいか？)
      </li>
      <li>
        現在の状態 (昼か夜か？)
      </li>
      <li>
        ある要素の値 (この人は 18 歳より老けている？)
      </li>
    </ul>

    <p>
      とりあえず、あなたが js-in-14-mins.otchy.net ドメイン上でこれを見ているかどうかで、アラートボックスを表示してみましょう。
    </p>

    {% capture snippet %}{% include snippets/snippet_if.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}

    <div class="message is-info">
      <div class="message-body">
        <p>もし、シンプルにコピーアンドペーストするのでは無く、実際にこのコードを<strong>タイプ</strong>したい場合は、<kbd class="key">Shift</kbd><kbd class="plus">+</kbd><kbd class="key">Enter</kbd> を入力する事で、コンソール上で改行する事が出来ます！</p>
      </div>
    </div>
  </div>
</div>

<!-- 27 -->
<div id="step27" class="step">
  <div class="content">
    {% include partials/gj.html title="確かに等しい！" %}

    <p>
      ここでは代わりに "<em>等しい</em>" という演算子 <code>==</code>を使ったまた別の比較をしています。
    </p>

    <div class="stabs is-vertical">
      <div class="stab">
        <div class="stab-label"><strong>キーワード</strong>の <code>if</code> をタイプしました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-purple">if</span> (window.location.hostname == 'jgthms.com') {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>丸括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo">if <span class="is-black">(</span>window.location.hostname == 'jgthms.com') {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>比較する内容</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">if (<span class="is-blue">window</span><span class="is-black">.</span><span class="is-blue">location</span><span class="is-black">.</span><span class="is-blue">hostname</span><span class="is-purple"> == </span><span class="is-green">'jgthms.com'</span>) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">丸括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo">if (window.location.hostname == 'jgthms.com'<span class="is-black">)</span> {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>波括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo">if (window.location.hostname == 'jgthms.com') <span class="is-black">{</span></code></div>
      </div>
      <div class="stab">
        <div class="stab-label">直前の条件が <strong>true</strong> の時だけ実行される<strong>コードブロック</strong>に入りました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-blue">&nbsp;&nbsp;alert</span><span class="is-black">(</span><span class="is-green">'私のドメインにようこそ！🤗'</span><span class="is-black">)</span></code></div>
      </div>
      <div class="stab">
        <div class="stab-label">波括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-black">}</span></code></div>
      </div>
    </div>

    <p>
      アラートボックスが<em>ちゃんと表示された</em>という事は、<strong>hostname</strong> が実際に <code>'js-in-14-mins.otchy.net'</code> と<em>等しい</em>という事です！
    </p>

    <p>
      ここでは比較の結果が <code>true</code> になるケースを扱いました。
    </p>

    <p>
      <strong>反対のケース</strong>、hostname が <code>'js-in-14-mins.otchy.net'</code>では無い時、を扱うためには、"<em>等しくない</em>" という<strong>演算子</strong> <code>!=</code> を使います。
    </p>

    {% capture snippet %}{% include snippets/snippet_if_not.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet skipRun=true %}

    <p>
      このスニペットを試してみると、一切何も起きない事が分かると思います (このチュートリアルが他のドメインにコピーされていない限り😆)。
    </p>

    <p>
      両方のケースを<strong>同時に</strong>扱いたい時はどうしたらいいのでしょう？二つの <code>if</code> 文を並べて書く事は出来ます。しかし、一つの条件がもう一方の<em>真逆</em>だった場合、それらを <code>else</code> 文で<strong>組み合わせる</strong>事が出来ます。
    </p>

    {% capture snippet %}{% include snippets/snippet_if_else.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 28 -->
<div id="step28" class="step">
  <div class="content">
    {% include partials/gj.html title="まだ等しい！" %}

    <p>この条件の設定で、次のことが確認出来ます。</p>

    <ul>
      <li>二つのアラートのうち<strong>一つだけ</strong>が表示されますが、両方表示される事はありません。</li>
      <li><strong>全てのケース</strong>をカバーしているので、二つのうち<em>少なくとも一つ</em>が表されます。</li>
    </ul>

    <p>
      <code>else</code> は全ての<em>残りのケース</em>をカバーするのに便利なので、二つより多くのケースを扱う事も出来ます。
    </p>

    <p>
      <code>else if</code> を使う事で<strong>中間の状態</strong>を追加し、複数のケースを扱えます。
    </p>

    {% capture snippet %}{% include snippets/snippet_else_if.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 29 -->
<div id="step29" class="step">
  <div class="content">
    {% include partials/gj.html title="やったね！" %}

    <p>
      一つの比較が <code>true</code> を返すとすぐに、それが実行されます。そして以降の文は全て無視されます。だからアラートボックスが一つだけ表示されたのです！
    </p>

    <p>
      条件文は<strong>キーワード</strong>の <code>if</code> と <code>else</code> を使用し、それに<strong>丸括弧</strong>のセットが続きます。
    </p>

    <p>
      このキーワードと丸括弧の組合せのパターンは、また別の<a onclick="showStep(30);">本質的なプログラミングの概念</a>でも出てきます。
    </p>
  </div>
</div>

<!-- 30 -->
<div id="step30" class="step">
  <div class="content">
    <h2>ループ <span class="stamp is-concept">基本概念</span></h2>

    <p>
      コードブロックを<em>特定の回数</em>実行したい時には、JavaScript の<strong>ループ</strong>を使う事が出来ます。
    </p>

    <p>
      このスニペットが何回アラートボックスを表示するか予想出来ますか？
    </p>

    {% capture snippet %}{% include snippets/snippet_loop.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 31 -->
<div id="step31" class="step">
  <div class="content">
    {% include partials/gj.html title="3 回です！" %}
    <p>
      ちょうど <strong>3</strong> つのアラートボックスが表示されましたね！では、何が起こったのか分析してみましょう。
    </p>

    <ul>
      <li>
        <code>var i = 0</code> は<strong>初期状態</strong>です。<br>
        ループの処理が始まる前に、変数 <code>i</code> に <code>0</code> がセットされます。
      </li>
      <li>
        <code>i < 3</code> は<strong>比較条件</strong>です。<br>
        ループの一回ごとの繰り返しの度に、この条件がチェックされます。<br>
        もしこれが <code>true</code> なら、コードブロックが実行されます。<br>
        もしこれが <code>false</code> なら、ループから抜けます。<br>
      </li>
      <li>
        <code>i++</code> は<strong>増分処理</strong>です。<br>
        <em>もし</em>コードブロックが実行されたなら、この処理も実行されます。<br>
        このケースの場合、<code>i</code> の値は 1 増えます。
      </li>
    </ul>

    <p>
      実装した内容は次の通りです。
    </p>

    <div class="stabs is-vertical">
      <div class="stab">
        <div class="stab-label"><strong>キーワード</strong>の <code>for</code> をタイプしました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-purple">for</span> (var i = 0; i < 3; i++) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>丸括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo">for <span class="is-black">(</span>var i = 0; i < 3; i++) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>初期状態</strong>を入力しました。</div>
        <div class="stab-code"><code class="stabilo">for (<span class="is-purple">var </span><span class="is-blue">i</span><span class="is-purple"> = </span><span class="is-red">0</span>; i < 3; i++) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">各表現を分割するために<strong>セミコロン</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">for (var i = 0<span class="is-black">;</span> i < 3; i++) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>比較条件</strong>を入力しました。</div>
        <div class="stab-code"><code class="stabilo">for (var i = 0; <span class="is-blue">i</span><span class="is-purple"> < </span><span class="is-red">3</span>; i++) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">各表現を分割するために<strong>セミコロン</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">for (var i = 0; i < 3<span class="is-black">;</span> i++) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>増分処理</strong>を入力しました。</div>
        <div class="stab-code"><code class="stabilo">for (var i = 0; i < 3; <span class="is-blue">i</span><span class="is-purple">++</span>) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">丸括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo">for (var i = 0; i < 3; i++<span class="is-black">)</span> {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>波括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo">for (var i = 0; i < 3; i++) <span class="is-black">{</span></code></div>
      </div>
      <div class="stab">
        <div class="stab-label">比較条件が <strong>true</strong> の時だけ実行される<strong>コードブロック</strong>を入力しました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-blue">&nbsp;&nbsp;alert</span><span class="is-black">(</span><span class="is-blue">i</span><span class="is-black">);</span></code></div>
      </div>
      <div class="stab">
        <div class="stab-label">波括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-black">}</span></code></div>
      </div>
    </div>

    <p>
      ループのそれぞれの繰り返しを分析してみましょう。
    </p>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>繰り返し</th>
            <th><code>i</code> の値</th>
            <th>判定</th>
            <th>alert を実行？</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1 回目</td>
            <td>0</td>
            <td><code>0&nbsp;<&nbsp;3</code></td>
            <td>はい</td>
          </tr>
          <tr>
            <td>2 回目</td>
            <td>1</td>
            <td><code>1&nbsp;<&nbsp;3</code></td>
            <td>はい</td>
          </tr>
          <tr>
            <td>3 回目</td>
            <td>2</td>
            <td><code>2&nbsp;<&nbsp;3</code></td>
            <td>はい</td>
          </tr>
          <tr>
            <td>4 回目</td>
            <td>3</td>
            <td><code>3&nbsp;<&nbsp;3</code></td>
            <td><strong>いいえ！</strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      このループで何かを<strong>繰り返して</strong> N 回行う事が出来ます。これこそコンピューターに他なりません！
    </p>

    <p>
      これまでに学んできた変数の型の中で、とりわけ<a onclick="showStep(32);">繰り返す事に価値がある</a>ものがあります。
    </p>
  </div>
</div>

<!-- 32 -->
<div id="step32" class="step">
  <div class="content">
    <h2>配列のループ<span class="stamp is-tool">ツール</span></h2>

    <p>
      配列はループに使う完璧な例です。なぜなら、配列の<em>それぞれの</em>要素に対して<strong>同じ処理</strong>を繰り返したい事が良くあるからです。
    </p>

    <p>
      配列の<em>それぞれの</em>要素に対して、アラートボックスを表示したいとしましょう。配列の要素の数だけ <code>alert()</code> を書く事は出来ますが (😰)、この方法は面倒だし効率的ではありません！これだと間違いを起こしやすいですし、大きな配列に広げるのは大変です。
    </p>

    <p>
      プログラミング言語は私たちの仕事を楽にするためにあるのですから、もっと良い方法で解決しましょう。すでにいくつかの事を知っていますね。
    </p>

    <ul>
      <li>
        配列の<strong>長さ</strong>を知る方法
      </li>
      <li>
        <strong>インデックス</strong>を使って配列の要素にアクセスする方法
      </li>
      <li>
        都合良く 1 ずつ増えていく変数 <code>i</code> にアクセスする方法
      </li>
    </ul>

    <p>
      これらの情報を組み合わせる事で、下記のようなスニペットを考え出す事が出来ます。
    </p>

    {% capture snippet %}{% include snippets/snippet_loop_array.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 33 -->
<div id="step33" class="step">
  <div class="content">
    {% include partials/gj.html title="続けざまに！" %}

    <p>
      ひとつひとつの配列の要素がそれぞれのアラートボックスの中に表示されました。
    </p>

    <p>
      ループで配列のそれぞれの要素を繰り返している間、まだ <code>for</code> ブロックを<strong>手動で</strong>作らないといけないですし、ループの繰り返しの度にただ数値が増えるだけの新たな変数 <code>i</code> も作らないといけません。
    </p>

    <p>
      何を考えているか分かりますよ。"<em><a onclick="showStep(34);">より良い方法が必ずある</a>はずだ！</em>"
    </p>
  </div>
</div>

<!-- 34 -->
<div id="step34" class="step">
  <div class="content">
    <h2>forEach ループ <span class="stamp is-tool">ツール</span></h2>

    <p>
      配列は <code>forEach()</code> と呼ばれる<strong>メソッド</strong>をもっています。これで配列の<em>それぞれの</em> <small>(訳注：それぞれの＝"for each")</small> 要素に処理を行う事が出来ます。
    </p>

    {% capture snippet %}{% include snippets/snippet_loop_foreach.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 35 -->
<div id="step35" class="step">
  <div class="content">
    {% include partials/gj.html title="良くなった！" %}

    <p>
      いくつかの改善点
    </p>

    <ul>
      <li>
        変数 <code>i</code> が含まれません。
      </li>
      <li>
        配列の <code>length</code> にアクセスする必要がありません。
      </li>
      <li>
        要素にアクセスするために、<code>my_thing[i]</code> の形で<strong>インデックス</strong>を使う必要がありません。
      </li>
    </ul>

    <p>
      <code>alert()</code> 関数の文法は覚えていますか？ <code>alert(parameter)</code> という形でした。
    </p>

    <p>
      注意深く見ると、<code>forEach()</code> も全く同じ文法である事が分かります！これは <code>forEach(parameter)</code> という形で、ただ引数が 3 行を占める<strong>関数</strong>となっています。
    </p>

    <p>
      今のところ、いくつかの関数あるいはメソッドを使いました。
    </p>

    <ul>
      <li>
        <code>alert()</code> 関数 (あるいは window のメソッド)
      </li>
      <li>
        配列の <code>push()</code> メソッド
      </li>
      <li>
        配列の <code>includes()</code> メソッド
      </li>
      <li>
        配列の <code>forEach()</code> メソッド
      </li>
    </ul>

    <p>
      どうやって関数を<strong>呼び出すか</strong>は分かりましたが、ではどうやって実際にそれを<a onclick="showStep(36);">作るのでしょうか？</a>
    </p>
  </div>
</div>

<!-- 36 -->
<div id="step36" class="step">
  <div class="content">
    <h2>カスタム関数を作る <span class="stamp is-info">情報</span></h2>

    <p>
      プログラミング言語の力は<em>あなたの</em>目的に沿った<strong>あなた自身の関数</strong>を作る能力にあります。
    </p>

    <p>
      <code>if/else</code> と <code>for</code> のために使った、キーワードと丸括弧の組合せを覚えていますか？さあ、当ててみて。<em>ほとんど</em>同じパターンです！
    </p>

    <p>
      「ほとんど」同じといったのは、関数には<strong>名前</strong>が必要という唯一の違いがあるからです。
    </p>

    <p>
      <code>name</code> という名前の<strong>一つ</strong>のパラメータを持つ、<code>greet()</code> という関数を<strong>作って</strong>みましょう。そしてすぐにそれを<strong>呼び出し</strong>ます。
    </p>

    {% capture snippet %}{% include snippets/snippet_greet.md %}{% endcapture %}
    {% include partials/snippet.html contents=snippet %}
  </div>
</div>

<!-- 37 -->
<div id="step37" class="step">
  <div class="content">
    {% include partials/gj.html title="ご挨拶！" %}

    <p>
      初めての関数を作りました！これは単純なものですが、多くの事を学べます。
    </p>

    <p>
      いくつかのポイント。
    </p>

    <ul>
      <li>
        関数の<strong>名前</strong>は <code>greet</code> <small>(訳注：「挨拶する」という意味の動詞)</small>です。
      </li>
      <li>
        <code>name</code> という名前の<strong>パラメータ</strong>：これは値の保存先として振る舞うので、変数と似ています。
      </li>
      <li>
        <code>'やあ、' + name</code> という値から、<code>message</code> という名前の<strong>変数</strong> (文字列) を作ります。
      </li>
      <li>
        この<strong>加算</strong>記号 <code>+</code> は、二つの文字列を<strong>連結</strong>して、一つの長い文字列にします。
      </li>
      <li>
        パラメータとして <code>message</code> という変数を使い、<code>alert()</code> 関数を呼び出します。
      </li>
      <li>
        関数を作った後、<code>'アレックス'</code>というパラメータでそれを呼び出します。
      </li>
    </ul>

    <p>
      これをステップごとに分解すると…
    </p>

    <div class="stabs is-vertical">
      <div class="stab">
        <div class="stab-label"><code>function</code> という<strong>予約語</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-purple">function</span> greet(name) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">関数の<strong>名前</strong>をタイプしました。</div>
        <div class="stab-code"><code class="stabilo">function <span class="is-blue">greet</span>(name) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>丸括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo">function greet<span class="is-black">(</span>name) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><code>name</code>という名前の<strong>パラメータ</strong>を作りました。</div>
        <div class="stab-code"><code class="stabilo">function greet(<span class="is-blue">name</span>) {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label">丸括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo">function greet(name<span class="is-black">)</span> {</code></div>
      </div>
      <div class="stab">
        <div class="stab-label"><strong>波括弧</strong>を開きました。</div>
        <div class="stab-code"><code class="stabilo">function greet(name) <span class="is-black">{</span></code></div>
      </div>
      <div class="stab">
        <div class="stab-label">この関数が<strong>呼ばれた</strong>時だけ実行される<strong>コードブロック</strong>を入力しました。</div>
        <div class="stab-code"><code class="stabilo">&nbsp;&nbsp;<span class="is-purple">var</span><span class="is-blue"> message </span><span class="is-purple">= </span><span class="is-green">'Hey there '</span><span class="is-purple"> +</span><span class="is-blue"> name</span><span class="is-black">;</span></code><br><code class="stabilo">&nbsp;&nbsp;<span class="is-blue">alert</span><span class="is-black">(</span><span class="is-blue">message</span><span class="is-black">);</span></code></div>
      </div>
      <div class="stab">
        <div class="stab-label">波括弧を<strong>閉じました</strong>。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-black">}</span></code></div>
      </div>
      <div class="stab">
        <div class="stab-label">文字列のパラメータと共に、関数を<strong>呼び出しました</strong>。</div>
        <div class="stab-code"><code class="stabilo"><span class="is-blue">greet</span><span class="is-black">(</span><span class="is-green">'Alex'</span><span class="is-black">)</span><span class="is-black">;</span></code></div>
      </div>
    </div>

    <p>
      最後に <code>greet()</code> 関数を呼び出さない限り、何も起きません！なぜなら <code>alert()</code> の呼び出しは <code>greet()</code> の<em>中に</em>あって、親の関数に当たる <code>greet()</code> が呼び出されない限りは実行されないからです！
    </p>

    <p>
      基本的に <code>greet()</code> を<strong>作る</strong>事でブラウザに、「<em>やあ！この新しい関数を作ったよ。だからもしいつかこれを呼び出したら、何であれ中にある事を実行してくれよな！</em>」とだけ伝えている事になります。
    </p>

    <p>
      それが、<code>greet()</code> を最後に<strong>呼び出した</strong>時に、ブラウザがその内容 ─ <code>alert()</code> を呼び出す事 ─ を実行した理由です。
    </p>

    <p>
      関数は <strong>2 ステップ</strong>のプロセスからなる事を理解することが大事です。まず作成して、後で呼び出す。
    </p>

    <p>
      実際の所、ずっと使っている <code>alert()</code> 関数は、あらかじめ作られている関数なのです。ブラウザ上のどこかにただ存在しています。
    </p>

    <p>
      ともかく、これまでに<em>たくさんの</em>事を 14 分で学んできました！<small>(訳注：正直なところ、初見で 14 分は無理だと思います。)</small><br>
      では、<a onclick="showStep(38);">次は何でしょう</a>？
    </p>
  </div>
</div>

<!-- 38 -->
<div id="step38" class="step">
  <div class="content">
    <h2>次のステップ <span class="stamp is-victory">やり切った！</span></h2>

    <h3>JavaScript を学ぶ</h3>

    <p>
      ここまでで、かろうじて基礎を終えたところです。でも心配しないで！ネット上には<em>大量の</em>教材があります！
    </p>

    <p>
      以下は私がお勧めするいくつかの<strong>無料の</strong>教材です。
    </p>

    <div class="content translator-notes">
      訳注：以下で紹介されている教材は当然ながら全て英語です。日本語での無料の教材も増えてきていますが、私としては特定のお勧めはありません。<br>
      ただ一点、もし今後も続けて JavaScript を学ぶのであれば、複数の違うサイトや教材で紹介されている情報を適当に混ぜて使う事は避けて欲しいと思います。<br>
      プログラミングの入門に関して<a href="https://qiita.com/otchy/items/d3eb1546145d1b584b34" target="_blank">私の考えをまとめた記事</a>があるので、もし良ければ参考にして下さい。<br>
    </div>
    
    <ul>
      <li>
        <a href="http://eloquentjavascript.net/" rel="nofollow" target="_blank">Eloquent JavaScript</a>
      </li>
      <li>
        <a href="https://www.freecodecamp.org/" rel="nofollow" target="_blank">freeCodeCamp</a>
      </li>
      <li>
        <a href="https://javascript.info/" rel="nofollow" target="_blank">The Modern JavaScript Tutorial</a>
      </li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript" rel="nofollow" target="_blank">Mozilla Developer Network</a>
      </li>
      <li>
        <a href="https://github.com/getify/You-Dont-Know-JS" rel="nofollow" target="_blank">You Don't Know JS</a>
      </li>
    </ul>

    <p>
      もし<strong>動画の教材</strong>の方がよければ、<strong><a href="https://click.linksynergy.com/fs-bin/click?id=76TvM1KGjYg&offerid=358574.81&type=3&subid=0" target="_blank">Udemy courses</a><IMG class="lazyload" border=0 width=1 height=1 data-src="https://ad.linksynergy.com/fs-bin/show?id=76TvM1KGjYg&bids=358574.81&type=3&subid=0" ></strong> をチェックしてみて下さい。
    </p>

    <nav class="shares">
      <a class="share is-udemy" href="https://click.linksynergy.com/link?id=76TvM1KGjYg&offerid=358574.1463348&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fmodern-javascript-from-the-beginning%2F" target="_blank"><IMG border=0 src="https://udemy-images.udemy.com/course/480x270/1463348_52a4.jpg" >
        <br>
        {%
          include partials/image.html
          path="udemy-logo"
          extension="png"
          alt="Udemy logo"
          width="72"
          height="21"
        %}
        <br>
        <em>21.5 時間 📼</em>
        <strong>Modern JavaScript From The Beginning</strong>
      </a>
      <IMG class="lazyload" border=0 width=1 height=1 data-src="https://ad.linksynergy.com/fs-bin/show?id=76TvM1KGjYg&bids=358574.1463348&type=2&subid=0" >

      <a class="share is-udemy" href="https://click.linksynergy.com/link?id=76TvM1KGjYg&offerid=358574.851712&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Fthe-complete-javascript-course%2F" target="_blank"><IMG border=0 src="https://udemy-images.udemy.com/course/480x270/851712_fc61_5.jpg" >
        <br>
        {%
          include partials/image.html
          path="udemy-logo"
          extension="png"
          alt="Udemy logo"
          width="72"
          height="21"
        %}
        <br>
        <em>17.5 時間 📼</em>
        <strong>The Complete JavaScript Course: Build a Real-World Project</strong>
      </a>
      <IMG class="lazyload" border=0 width=1 height=1 data-src="https://ad.linksynergy.com/fs-bin/show?id=76TvM1KGjYg&bids=358574.851712&type=2&subid=0" >
    </nav>

    <p>
      もし急いでいるなら、<strong>より短い</strong>コースもあります！
    </p>

    <nav class="shares">
      <a class="share is-udemy is-udemy-advanced" href="https://click.linksynergy.com/link?id=76TvM1KGjYg&offerid=358574.670034&type=2&murl=https%3A%2F%2Fwww.udemy.com%2Ftop-javascript-interview-questions-and-answers%2F" target="_blank"><IMG border=0 src="https://udemy-images.udemy.com/course/480x270/670034_ce04_4.jpg" >
        <br>
        {%
          include partials/image.html
          path="udemy-logo"
          extension="png"
          alt="Udemy logo"
          width="72"
          height="21"
        %}
        <br>
        <em>わずか 3.5 時間！📼</em>
        <strong>Advanced Javascript</strong>
      </a>
      <IMG class="lazyload" border=0 width=1 height=1 data-src="https://ad.linksynergy.com/fs-bin/show?id=76TvM1KGjYg&bids=358574.670034&type=2&subid=0" >
    </nav>

    <h3>HTML と CSS を学ぶ</h3>

    <p>
      JavaScript はウェブページを成しているもののうち、三分の一でしかありません！<strong>HTML</strong> と <strong>CSS</strong> の事も知る必要があります。
    </p>

    <p>
      幸運なことに、あなたのために私が作った<strong>二つの無料の資料</strong>があるので、それら二つの言語が提供している全ての事を学べます！
    </p>

    <nav class="shares">
      <a
        class="share is-html"
        href="https://htmlreference.io"
        target="_blank"
        >
        {%
          include partials/image.html
          path="html-reference"
          extension="png"
          alt="HTML Reference"
          width="64"
          height="64"
        %}
        <br>
        <em>Discover</em>
        <strong>HTML Reference</strong>
      </a>
      <a
        class="share is-css"
        href="https://cssreference.io"
        target="_blank"
        >
        {%
          include partials/image.html
          path="css-reference"
          extension="png"
          alt="CSS Reference"
          width="64"
          height="64"
        %}
        <br>
        <em>Discover</em>
        <strong>CSS Reference</strong>
      </a>
    </nav>

    <h3>私の CSS フレームワークを学ぶ</h3>

    <p>
      私はこのページを <strong>Bulma</strong> ─ Flexbox を元にした私のオープンソース CSS フレームワーク ─ でデザインしました。<a href="https://bulma.io" target="_blank">要チェック！</a>
    </p>

    {%
      include partials/panorama.html
      class_name="bulma"
      href="https://bulma.io/"
      path="bulma-modern-css-framework-flexbox"
      extension="png"
      alt="Bulma CSS framework based on Flexbox"
      width="256"
      height="160"
    %}

    <h3>私の本を読む</h3>

    <p>
      私は「<a href="https://jgthms.com/css-in-44-minutes-ebook" target="_blank">CSS in 44 minutes</a>」という、個人のウェブページをまっさらな所から HTML5 と CSS3 で作る方法を <strong>44 ページ</strong> で解説した PDF の本を書きました。
    </p>

    {%
      include partials/panorama.html
      class_name="fortyfour"
      href="https://jgthms.com/css-in-44-minutes-ebook"
      path="css-in-44-minutes-book-cover"
      extension="png"
      alt="CSS in 44 minutes ebook"
      width="168"
      height="235"
    %}

    <p>
      おまけにこの本には短めの<strong>JavaScript の章</strong>があり、関数、条件文、オブジェクト、文字列、のみならずどのように CSS と連携させるかについても解説しています。
    </p>

    <p>
      さあ今や、<a onclick="showStep(39);">もう一つしかやる事が残っていません</a>…
    </p>
  </div>
</div>

<!-- 39 -->
<div id="step39" class="step">
  <div class="content">
    <h2>シェアしてね！😍</h2>

    <nav class="shares">
      <a
        class="share is-facebook"
        href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fjs-in-14-mins.otchy.net%2F"
        rel="nofollow"
        target="_blank"
        >
        <span>{% include icons/facebook.html %}</span>
        <strong>Facebook</strong>
        <em>でシェア</em>
      </a>
      <a
        class="share is-twitter"
        data-social-network="Twitter"
        data-social-action="tweet"
        data-social-target="https://js-in-14-mins.otchy.net/"
        href="https://twitter.com/intent/tweet?text=14+%E5%88%86%E3%81%A7+JavaScript+%E5%85%A5%E9%96%80&url=https%3A%2F%2Fjs-in-14-mins.otchy.net%2F&via=otchy"
        rel="nofollow"
        target="_blank"
        >
        <span>{% include icons/twitter.html %}</span>
        <strong>Twitter</strong>
        <em>でシェア</em>
      </a>
      <a class="share is-paypal" href="https://www.paypal.me/jgthmsuk" target="_blank">
        {%
          include partials/image.html
          path="paypal"
          extension="png"
          alt="PayPal"
          width="100"
          height="26"
        %}
        <br>
        <strong>PayPal</strong>
        <em>で寄付</em>
      </a>
      <a class="share is-github" href="https://github.com/jgthms/javascript-in-14-minutes" target="_blank">
        <span>{% include icons/github.html %}</span>
        <strong>GitHub (原本)</strong>
        <em>に星を付ける</em>
      </a>
      <a class="share is-github" href="https://github.com/otchy210/javascript-in-14-minutes" target="_blank">
        <span>{% include icons/github.html %}</span>
        <strong>GitHub (日本語版)</strong>
        <em>に星を付ける</em>
      </a>
      <a class="share is-patreon" href="https://www.patreon.com/jgthms" target="_blank">
        {%
          include partials/image.html
          path="become_a_patron_button"
          extension="png"
          alt="Become a Patron"
          width="153"
          height="36"
        %}
        <br>
        <strong>Patreon</strong>
        <em>でサポート</em>
      </a>
      <a class="share is-hn" href="https://news.ycombinator.com/item?id=16687634" target="_blank" rel="nofollow">
        <span>{% include icons/hn.html %}</span>
        <strong>Hacker News</strong>
        <em>上で議論</em>
      </a>
      <a class="share is-reddit" href="https://www.reddit.com/r/javascript/comments/87i1m6/javascript_in_14_minutes/" target="_blank" rel="nofollow">
        <span>{% include icons/reddit.html %}</span>
        <strong>Reddit</strong>
        <em>上で議論</em>
      </a>
    </nav>

    {% include partials/newsletter.html %}

    <p>
      ここまで読んでくれてありがとう！
    </p>

    <p class="madeby">
      Made by <a href="https://jgthms.com/" target="_blank">@jgthms</a>, translated by <a href="https://twitter.com/otchy" target="_blank">Otchy</a>
    </p>
  </div>
</div>

<aside id="sides" class="sides">
  <div id="sideConcepts" class="side">
    <div class="side-title">
      <span class="stamp is-concept">基本概念</span>
    </div>
    <div id="sideFunctions" class="side-item">
      <span class="side-word is-concept">関数</span>
    </div>
    <div id="sideVariables" class="side-item">
      <span class="side-word is-concept">変数</span>
    </div>
    <div id="sideConditionals" class="side-item">
      <span class="side-word is-concept">条件文</span>
    </div>
    <div id="sideLoops" class="side-item">
      <span class="side-word is-concept">ループ</span>
    </div>
  </div>

  <div id="sideTypes" class="side">
    <div class="side-title">
      <span class="stamp is-type">型</span>
    </div>
    <div id="sideStrings" class="side-item">
      <span class="side-word is-type">文字列 (String)</span>
    </div>
    <div id="sideNumbers" class="side-item">
      <span class="side-word is-type">数値 (Number)</span>
    </div>
    <div id="sideObjects" class="side-item">
      <span class="side-word is-type">オブジェクト (Object)</span>
    </div>
    <div id="sideArrays" class="side-item">
      <span class="side-word is-type">配列 (Array)</span>
    </div>
    <div id="sideBooleans" class="side-item">
      <span class="side-word is-type">真偽値 (Boolean)</span>
    </div>
  </div>
</aside>
