<form class="newsletter" action="https://mail.jgthms.com/subscribe" method="POST" accept-charset="utf-8" target="_blank">
  <div class="field">
    <h3>ニュースレターを購読</h3>
    <p>そして新たな<strong>無料のチュートリアル</strong>のお知らせを受け取る！😃 <small><br>(訳注：英語のニュースレターが届くはずです。)</small></p>
  </div>
  <div class="newsletter-content">
    <div class="field">
      <p class="label" for="name">名前</p>
      <div class="control">
        <input class="input" type="text" name="name" id="name" placeholder="e.g. Alex Smith">
      </div>
    </div>
    <div class="field">
      <p class="label" for="email">メールアドレス</p>
      <div class="control">
        <input class="input" type="email" name="email" id="email" placeholder="e.g. alexsmith@gmail.com" required>
      </div>
    </div>
    <div style="display:none;">
      <label for="hp">HP</label>
      <input type="text" name="hp" id="hp">
    </div>
    <input type="hidden" name="list" value="bbkZEpnfTh892DlmV8k763es8Q">
    <div class="field">
      <div class="control">
        <button class="button" id="submit">購読する</button>
      </div>
    </div>
    <p class="help"><em>もちろんスパムはやめてね！</em> <span style="font-size: 1rem; vertical-align: middle;">😊</span></p>
  </div>
</form>